.dark-gray {
	color: #333;
}

.light_gray {
	color: #BDBDBD;
}

.black {
	color: #000;
}

.gainsboro {
	color: #F2F2F2;
}

.white {
	color: #FFF;
}

.gray {
	color: #8D8D8D;
}

.footer-gray {
	color: rgba(200, 200, 200, 0.50);
}

.back-gray {
	background-color: #2C2C2C;
}

.back_black {
	background-color: #333;
}

.back_white {
	background: #FFF;
}

.back_white-smoke {
	background-color: #FBFBFB;
}

.back_inp {
	background-color: #F3F3F3;
}

.pp_inp {
	padding: 15px 21px;
}