.flex {
	display: flex;
}

.j-sb {
	justify-content: space-between;
}

.fd-col {
	flex-direction: column;
}

.al-c {
	align-items: center;
}

.j-c {
	justify-content: center;
}

.j-sa {
	justify-content: space-around;
}

.wrap {
	flex-wrap: wrap;
}

.a-s {
	align-self: flex-end;
}