.fz-12 {
	font-size: 1.2rem;
}

.fz-64 {
	font-size: 6.4rem;
}

.fz-24 {
	font-size: 2.4rem;
}

.fz-16 {
	font-size: 1.6rem;
}

.fz-22 {
	font-size: 2.2rem;
}

.fz-14 {
	font-size: 1.4rem;
}

.fz-200 {
	font-size: 20rem;
}