@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
	font-family: 'San Francisco Pro Display';
	src: url('./fonts/sf/SFProDisplay-Heavy.woff') format('woff'),
			 url('./fonts/sf/SFProDisplay-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'TT Hoves';
	src: local('TT Hoves Regular'), local('TT-Hoves-Regular'),
			url('./fonts/hoves/TTHoves-Regular.woff2') format('woff2'),
			url('./fonts/hoves/TTHoves-Regular.woff') format('woff'),
			url('./fonts/hoves/TTHoves-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}



.open_sans {
	font-family: 'Open Sans', sans-serif;
}

.sf_pro {
	font-family: 'San Francisco Pro Display';
}

.hoves {
	font-family: 'TT Hoves';
}