.footer {
	margin-top: 120px;
	padding: 58px 0px 24px 0px;

	&_title {
		margin-bottom: 25px;
	}

	&_bottom {
		margin-top: 60px;
	}
}

.end {

	&_soc {
		max-width: 193px;
		width: 100%;
	}
}

.info {

	&_list {
		gap: 28px;
	}
}

.contact {

	&_tel::before {
		content: "";
		background-image: url("./images/footer/tel.svg");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 14px;
		width: 16px;
		height: 16px;
		display: inline-block;
	}

	&_mail::before {
		content: "";
		background-image: url("./images/footer/email.svg");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 14px;
		width: 16px;
		height: 11px;
		display: inline-block;
	}

	&_geo::before {
		content: "";
		background-image: url("./images/footer/pin.svg");
		background-repeat: no-repeat;
		background-position: center;
		margin-right: 14px;
		width: 11px;
		height: 16px;
		display: inline-block;	
	}

	&_geo {
		max-width: 230px;
		line-height: 24px;
	}

	&_tel {
		margin-top: 31px;
	}

	&_mail {
		margin-top: 33px;
	}

	&_gap {
		gap: 20px;
	}
}

.bottom {

	&_text {
		border-top: 1px solid rgba(255, 255, 255, 0.1);;
		padding-top: 24px;
		text-align: center;
	}
}
