@import "./components/variable.scss";

.header {
	padding: 20px 0;
}

.nav {

		&_list {
			margin-right: 140px;
			max-width: 640px;
			width: 100%;
		}

		&_link {
			letter-spacing: 2.4px;
			transition-duration: 0.1s;
			margin: 0px 10px 0px 10px;
		}

		&_link:hover {
			transition-duration: 0.1s;
			padding: 4px 0;
			border-top: 1px solid $dark-gray;
			border-bottom: 1px solid $dark-gray;
		}

		&_link-active {
			transition-duration: 0.1s;
			padding: 4px 0;
			border-top: 1px solid $dark-gray;
			border-bottom: 1px solid $dark-gray;
		}
}