@import "./components/variable.scss";

.main {
	margin-top: 10px;
	&_title {
		padding-top: 230px;
		max-width: 277px;
		width: 100%;
	}

	&_arrows {
		margin-top: 90px;
		max-width: 129px;
	}

	&_arrow {
		cursor: pointer;
		transition-duration: 0.5s;
	}

	&_arrow:hover {
		transition-duration: 0.5s;
		background-color: #F2F2F2;
	}


	&_data {
		padding-top: 90px;
		max-width: 154px;
	}
}

.main_box {

	&__picture {
		position: relative;
	}

	&__btn {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.arrow {
	padding: 22px 18px;
	padding: 22px 18px;
	border: 1px solid $gainsboro;
}