.project {

	&_title {
		margin-top: 90px;
	}

	&_box {
		margin-top: 60px;
	}

	&_box_two {
		margin-top: 33px;
	}

	&_btn {
		margin-top: 30px;
		padding: 23px 40px;
	}
}

.box {

	&_header {
		max-width: 570px;
		position: relative;
	}
}
.box_header {

	&__position {
		padding: 48px 79px;
		opacity: 0.8;
		background-color: $dark-gray;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__btn {
		margin-top: 14px;
	}

	&__title {
		max-width: 413px;
	}
}